asyncio
aria2p==0.12.0
aiofiles==23.2.1
certifi==2025.6.2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gdown==5.2.0
GPUtil
ffmpeg-python==0.2.0
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyrogram
python-magic==0.4.27
requests
tgcrypto==1.2.5
tqdm==4.66.5
uvloop
urllib3==2.2.3
yt_dlp
pymegatools
